body {
    background-color: #F7F7F7;
}

.gris {
    color: #B2B2B2;
    font-size: 12px;
}

.naranja {
    color: #FA6A00;
    font-size: 20px;
}

.dropdown-toggle::after {
    color: #FA6A00;
}

#sectionUsuarios {
    margin-top: 4%;
    padding: 3%;
    width: 100%;
    background-color: #FFFFFF;
}

.izquierda {
    float: right;
    top: 10%;
}

.btn-outline-naranja {
    color: #FA6A00;
    background-color: transparent;
    background-image: none;
    border-color: #FA6A00
}

.btn-naranja {
    color: #FFFFFF;
    background-color: #FA6A00;
}

#sectionTabla {
    margin-top: 4%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    width: 100%;
    background-color: #FFFFFF;
}

.espacioIzquierda {
    margin-left: 4%;
}

.padDrop {
    padding-top: 2%;
    padding-bottom: 2%;
}

.form-inline .form-control {
    width: 40%;
}

.page-item.active .page-link {
    color: #FFFFFF;
    background-color: #677FAC;
    border-radius: 50%;
    border-color: #677FAC;
}

.page-link {
    border: none;
}